body {
  background-color: #EDEAEF;
}

.App {
  text-align: center;
}

.Navigation {
  height: 3rem;
  background-color: #7E6B8F;
  color: #F6F4F7;
  font-size:1.5rem;
  font-weight: bold;
  padding-top:0.75rem
}

.TodoList-Container {
  margin-top: 0.25rem;
  align-items:center;
  background-color: #DAD5DF;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  color: #241F29;
  border-radius: 1rem;
}

.TodoList-Table {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.TodoList-Table__Cell_Large {
  width: 70%;
}

.TodoList-Table__Call_Small {
  width: 10%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
